/* LAYOUT */

.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*HEADER*/

.header{
    display: flex;
    padding: 0 32px;
    justify-content: space-between;
}

.navigation{

}
.navigation__ul{
    display: flex;
    list-style: none;
}
.navigation__ul--li{
}
.navigation__ul--li-item{
    display: inline-flex;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    padding: 12px 16px;
} 
.navigation__ul--li-item:hover {
    background-color: #9575cd;
    color: white;
}



/* SIDEBAR */
.sidebar{
    width: 20%;
    border-right: 1px solid #E0E0E0;
}
.sidebar__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}
.sidebar__list--item{
    position: relative;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #E0E0E0;
    color: #3f51b5;
    font-size: 15px;
    font-weight: 700;
}
.container{
    display: flex;
    flex: 1;
}
.main--container{
    width: 100%;
}